spring:
  application:
    name: order

  datasource:
    url: jdbc:postgresql://localhost:5432/ordersdb
    username: user
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

kafka:
  bootstrap-servers: localhost:9092
